<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loose00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{0,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{192,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{384,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{576,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{768,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{960,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1152,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1344,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1536,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1728,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{0,108},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{192,108},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{384,108},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{576,108},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{768,108},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{960,108},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1152,108},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1344,108},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1536,108},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1728,108},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{0,216},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{192,216},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{384,216},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{576,216},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{768,216},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{960,216},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1152,216},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1344,216},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1536,216},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1728,216},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{0,324},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{192,324},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{384,324},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{576,324},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{768,324},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{960,324},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1152,324},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1344,324},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1536,324},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1728,324},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{0,432},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{192,432},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{384,432},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{576,432},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{768,432},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{960,432},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1152,432},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loose47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1344,432},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loose.png</string>
            <key>size</key>
            <string>{1920,540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5cf484a0240175681f84f8d412500662:a91005e71079e97a8841f8fb9560888f:11ef4bceec407211123c439e62a56da6$</string>
            <key>textureFileName</key>
            <string>loose.png</string>
        </dict>
    </dict>
</plist>
