<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>love00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{0,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{192,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{384,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{576,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{768,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{0,108},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{192,108},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{384,108},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{576,108},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{768,108},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{0,216},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{192,216},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{384,216},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{576,216},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{768,216},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{0,324},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{192,324},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{384,324},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{576,324},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{768,324},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{0,432},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{192,432},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{384,432},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{576,432},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{768,432},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{0,540},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{192,540},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{384,540},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{576,540},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{768,540},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{0,648},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{192,648},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{384,648},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{576,648},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{768,648},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{0,756},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{192,756},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{384,756},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{576,756},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{768,756},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{0,864},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{192,864},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{384,864},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{576,864},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{768,864},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{0,972},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{192,972},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{384,972},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{576,972},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{768,972},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{0,1080},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{192,1080},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>love52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{384,1080},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>love.png</string>
            <key>size</key>
            <string>{960,1188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01f7e3e17adbbb5bb0d067c060738ef4:b3dbb944a0736d08fb356f144320db41:cfd01eafda5f6834b6b9cbcafa2033a2$</string>
            <key>textureFileName</key>
            <string>love.png</string>
        </dict>
    </dict>
</plist>
