<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{0,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>action1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{192,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>action2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{384,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>action3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{576,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>action4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{768,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>action5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{960,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>action6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,108}</string>
                <key>spriteSourceSize</key>
                <string>{192,108}</string>
                <key>textureRect</key>
                <string>{{1152,0},{192,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>action.png</string>
            <key>size</key>
            <string>{1344,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30c63335a62be200f1f0f001e602efad:7eb2955b52130a727636e8fc12d26a88:7a863d988338644a7243e32c2a5c1c0f$</string>
            <key>textureFileName</key>
            <string>action.png</string>
        </dict>
    </dict>
</plist>
